* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  color: bisque;
}
#navbar {
  display: flex;
  flex-direction: column;
  background-color: orange;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3 linear;
  max-width: 150px;
  padding: 50px 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}

.navbar-links {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* color: white; */
  padding: 10px;
  gap: 30px;
  width: 4pc;
}
.navbar-link {
  padding: 5px;
  text-decoration: none;
  /* color: white; */
}
.initial {
  color: white;
  font-size: 40px;
  padding: 15px;
  margin: 5px;
  font-weight: 1000;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 35%; */
}
.backgroundcard {
  margin: 100px;
  padding: 50px;
  display: flex;
  flex-wrap: center;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  max-height: 500%;
}
.aboutimg {
  height: 520px;
  width: 410px;
  object-fit: cover;
  object-position: -270px;
  background: rgba(24, 23, 23, 1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.18);
}
.Me {
  color: orange;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 30px;
  color: white;
  padding: 10px;
  margin-bottom: -0;
  text-transform: uppercase;
  gap: 10px;
  margin-top: 10%;
}
.subheading {
  display: flex;
  color: white;
  font-size: 30px;
  justify-content: center;

  padding: 10px;
}
.contents {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  align-items: center;
  margin-top: 5px;
  gap: 20px;
}
.subcontent {
  line-height: 1.8;
}
.all_aboutme {
  padding-right: 15px;
  padding-left: 50px;
}

.CvButton {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  border: none;
}
.CvButton:hover {
  background-color: red;
  transition: background-color 2s ease;
}

.Resume-1 {
  width: 2%;
  background-color: rgb(250, 1, 1);
  height: 100%;
  padding: 5%;
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 10px;
}

.ResumeContainer {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  margin-left: 10%;
  margin-left: 10%;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}

.Resume1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}
.item2 {
  grid-column: 3;
  grid-row: 2;
}
.item3 {
  grid-column: 1;
  grid-row: 3;
}
.item4 {
  grid-column: 3;
  grid-row: 4;
}
.heading-12 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5%;
}
.bankground-style {
  display: flex;
  justify-content: center;
  padding: 5%;
  max-width: 200%;
  width: max-content;
  align-items: center;
}
.icons-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100%;
  margin-top: 30%;
}
.link {
  font-size: 110px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-right: -105%;
}
.background-style1 {
  background: rgba(240, 18, 18, 0.85);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  padding: 5px;
}

.subheading-1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 0;
  margin: 5px;
}
.heading-1 {
  display: flex;
  padding: 5px;
  font-size: 35px;
  margin-bottom: 10%;
  margin-left: 49%;
}
.icon-color {
  color: white;
}
.navbar-anchor {
  color: white;
}
.navbar-link:hover {
  background-color: black;
  background-size: 5%;
}

.emtyspace {
  height: 200px;
}

@media screen and (max-width: 640px) {
  #navbar.active {
    left: 0;
  }
  .navbar-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
  .backgroundcard {
    display: flex;
    flex-direction: column;
    margin: 70px;
    padding: 20px;
    width: 300px;
  }
  .link {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    padding: 20px;
  }

  .heading {
    font-size: 20px;
  }

  .aboutimg {
    width: 250px;
    height: 250px;
    object-position: -100px;
    border: none;
  }
  .subheading {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .subheading-1 {
    font-size: 18px;
  }
  .subcontent {
    font-size: 15px;
    padding-left: -10px;
    margin: -5;
  }
  .landing {
    height: 640px;
    width: 100vw;
  }
  .ResumeContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
  }

  .Resume-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
  }
  .heading-12 {
    font-size: 20px;
    margin-top: 2%;
  }
  .icons-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 115px;
    font-size: 50px;
  }
}
