* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  color: bisque;
}
#navbar {
  display: flex;
  flex-direction: column;
  background-color: orange;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3 linear;
  max-width: 80px;
  padding: 50px 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}

.navbar-links {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 10px;
  gap: 10%;
}
.navbar-link {
  padding: 5px;
  text-decoration: none;
  color: white;
}
.initial {
  color: white;
  font-size: 40px;
  padding: 15px;
  margin: 5px;
  font-weight: 1000;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 35%; */
}
.backgroundcard {
  margin: 10%;
  padding: 5%;
  display: flex;
  flex-wrap: center;
  justify-content: center;
  max-width: 100%;
  max-height: 500%;
  height: 400%;
}
.aboutimg {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  margin: 10px;
}
.aboutimg {
  object-fit: cover;
  margin: 20px;
}
.Me {
  color: orange;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 30px;
  color: white;
  padding: 10px;
  margin-bottom: -0;
  text-transform: uppercase;
  gap: 10px;
  margin-top: 10%;
}
.subheading {
  display: flex;
  color: white;
  font-size: 30px;
  justify-content: center;
  padding: 10px;
}
.contents {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  align-items: center;
  margin-top: 5px;
}

.CvButton {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  border: none;
}
.CvButton:hover {
  background-color: black;
  transition: background-color 0.6s ease;
}

.Resume-1 {
  width: 5%;
  background-color: rgb(250, 1, 1);
  height: 100%;
  padding: 10%;
  grid-row-start: 1;
  grid-row-end: 5;
}

.ResumeContainer {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  margin-left: 10%;
  margin-left: 10%;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}

.Resume1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}
.item2 {
  grid-column: 3;
  grid-row: 2;
}
.item3 {
  grid-column: 1;
  grid-row: 3;
}
.item4 {
  grid-column: 3;
  grid-row: 4;
}
.heading-1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  align-items: center;
  gap: 10px;
}
.bankground-style {
  display: flex;
  justify-content: center;
  padding: 5%;
  max-width: 200%;
  width: max-content;
  align-items: center;
}
.icons-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100%;
  margin-top: 30%;

  
}
.link {
  font-size: 110px;
  display: flex;
  justify-content: center;
  gap: 50px;

}
.background-style1 {
  background: rgba(240, 18, 18, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  margin: 5%;
  margin-left:5%;
  padding: 5px;


}

.subheading-1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 10px;
  margin: 5px;
}
.heading-1 {
  display: flex;
  padding: 5px;
  font-size: 30px;
  margin-top: 10%;
}
.icon-color{
  color: white;
}
