* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  flex-direction: column;
  background-color: orange;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3 linear;
  max-width: 80px;
  padding: 50px 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}

.navbar-links {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 10px;
  gap: 30px;
}
.navbar-link {
  padding: 10px;
  text-decoration: none;
  color: white;
  margin: 0;
}
.initial {
  color: white;
  font-size: 40px;
  padding: 15px;
  margin: 5px;
  font-weight: 1000;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 35%; */
}
.subheading {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

#form-group1 {
  background: rgba(16, 89, 98, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 60%;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  margin: 5%;
}
.ContactInfo {
  background: rgba(253, 32, 32, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
  width: 30%;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 5%;
}
.personalinfo {
  padding: 10px;
  gap: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.sub-h {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-left: 20px;
}

.sub2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-group {
  padding: 5%;
  width: 60%;
}

.form-input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid red;
  width: 450px;
  color: white;
}

.btn:hover {
  display: flex;
  justify-content: center;
  color: white;
  background-color: red;
  transition: background-color 0.6s ease;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.btn {
  background-color: orange;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
personalinfo {
  gap: 30px;
}
.icon-2 {
  gap: 30px;
  padding: 10px;
  color: white;
}
.navbar-anchor {
  color: white;
}


@media screen and (max-width: 800px) {
  #navbar {
    left: -100%;
    transition: all 0.3s linear;
  }

  #navbar.active {
    left: 0;
  }
  .navbar-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
  .ContactInfo {
    display: flex;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
    display: flex;
  }
  .container-info {
   
  }
}
