* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading {
  padding: 10px;
  margin: 10px;
  margin-top: 10%;
}
body {
  background-color: #1a1a1a;
  color: bisque;
}
.main {
  margin-left: 80px;
}

#navbar {
  display: flex;
  flex-direction: column;
  /* background-color: orange; */
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3 linear;
  max-width: 80px;
  padding: 50px 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}

.navbar-links {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 10px;
  gap: 30px;
}
.navbar-link {
  padding: 10px;
  text-decoration: none;
  color: white;
  margin: 0;
}
.initial {
  color: white;
  font-size: 40px;
  padding: 15px;
  margin: 5px;
  font-weight: 1000;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 35%; */
}
.subheading {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}
.name {
  font-size: 75px;
  color: white;
}
.cardcontainer {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.Cards {
  background: rgba(8, 8, 8, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  margin: 20px;
  height: 400px;
  width: 300px;
  display: grid;
  justify-content: center;
  flex-direction: column;
}

.card-items {
  background: #dc3545;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  display: grid;
  place-items: center;
  align-items: center;
}
.projectimg {
  height: 250px;
  width: 300px;
  object-fit: fill;
  border-radius: 1px;
  position: relative;
}

.button-2 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 5px;
}
.button-1 {
  text-decoration: none;
  color: white;
}
.button1 {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background: rgba(8, 8, 8, 0.25);
  box-shadow: 0 5px 20px black;
}
.button1:hover {
  transition: ease-in 1s 5ms;
  background-color: orange;
}
.gitlink {
  color: white;
  text-decoration: none;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-overlay {
  position: absolute;
  height: 250px;
  width: 300px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  flex-direction: column;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image-overlay > * {
  transform: translate(1px);
  margin: 20px;
}
.image-overlay:hover {
  opacity: 1;
  cursor: zoom-in;
  transition: 1s 23ms;
}

@media screen and (max-width: 800px) {
  #navbar {
    left: -100%;
    transition: all 0.3s linear;
  }

  #navbar.active {
    left: 0;
  }
  .navbar-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
  .main {
    margin-left: 0;
  }
  .cardcontainer {
    margin: 0;
  }
  .head {
    margin: 0;
    font-size: 25px;
  }
}
