* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading {
  padding: 10px;
  margin: 10px;
  margin-top: 10%;
}
body {
  background-size: cover;
}
.main {
  margin-left: 80px;
}
.cardcontainer {
  margin: 5%;
  padding: 10%;
  display: flex;
  flex-wrap: center;
  justify-content: center;
}

.Cards {
  background: rgba(79, 86, 149, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  margin: 20px;
  height: 400px;
  width: px;
  display: grid;
  justify-content: center;
  flex-direction: column;
}
.card-items {
  background: rgba(0, 214, 233, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 150px;
  flex: 0 1 150px;
  display: grid;
  place-items: center;
  align-items: center;
}
img {
  height: 250px;
  width: 300px;
}
.button1 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: 5%;
  margin-bottom: -5%;

}
