* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(55, 55, 55, 0.7),
      rgba(55, 55, 55, 0.7)
    ),
    url(./images/suit.jpg);
}

#navbar {
  display: flex;
  flex-direction: column;
  background-color: orange;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3 linear;
  max-width: 65px;
  padding: 50px 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}

.navbar-links {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 10px;
  gap: 20px;
}
.navbar-link {
  padding: 10px;
  text-decoration: none;
  color: white;
  margin: 0;
}
.initial {
  color: white;
  font-size: 40px;
  padding: 10px;
  margin: 5px;
  font-weight: 1000;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 35%; */
}
.heading {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}
.name {
  font-size: 75px;
  color: white;
}

.surname {
  color: orange;
  font-size: 75px;
}
.navbar-icon {
  color: white;
}
.navbar-anchor {
  color: white;
  font-size: 25px;
}
.navbar-button {
  display: none;
}
.Job {
  font-size: 20px;
  color: white;
  gap: 10px;
  padding-top: 10px;
  font-weight: 100;
}
.Job-0 {
  color: orange;
  font-size: 20px;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  #navbar {
    left: -100%;
    transition: all 0.3s linear;
  }

  #navbar.active {
    left: 0;
  }
  .navbar-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
}

/* about page */
